@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}

body{
    background-image: url('https://images.unsplash.com/photo-1580193769210-b8d1c049a7d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8d2VhdGhlcnxlbnwwfDB8MHx8&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    padding: 50px;
    background-color: #0808086c;
    border-radius: 50px;
    margin: 30px;
    top:10px;
}

#heading{
    color:rgb(207, 252, 6)
}

input[type="text"]{
    margin-top: 8px;
    height: 3rem;
    width: 280px;
    border-radius:24px;
    border: 2px solid #E7E7E9;
    outline: none;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
}

input:focus{
    background-color: #fff;
    color: #495057;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(0,123,255,25%);
}

input[type="button"]{
    background-color: #6247aca8;
    height: 2.2rem;
    width: 80px;
    color: whitesmoke;
    font-size: 1rem;
    outline: none;
    border-radius: 26px;
    font-weight: 600;
    margin-left: 8%;
    border: none;
    cursor: pointer;
}

.result{
    color: #e7e7e9;
    margin: 3%;
    
}

.items{
    color:#b4bbb5f3;
}

#upcoming{
    color: rgb(239, 240, 247);
}



#iconsContainer{
    position: absolute;
    left: 30%;
    top:30%;
    height: 30%;
    width: 70%;
    text-align:center;
}

.icons{
    display: inline-bock;
    float:left;
    height: 230px;
    width: 190px;
    margin: 20px;
    border-radius: 10px;
    border-color: rgb(12, 12, 12);
    border-style:groove;
    text-align: center;
}

.image{
    height: 140px;
    width: 100%;
}

.imgClass{
    height: 140px;
    width: 100%;
}

.weather{
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    color: #e7e7e9;
}

.temp-type{
    font-weight: bold;
    color: rgb(218, 211, 211);
}


.temp-value{
    font-weight: bold;
    color: rgb(233, 221, 221);
}
